{% extends 'base.html' %}

{% block content %}
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Subject Name</th>
            <th scope="col">Status</th>
            <th scope="action">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
        <tr id="subject-{{ subject.id }}">
            <td>{{ subject.subject_name }}</td>
            <td>
                {% if subject.status == 'PROCESSING' %}
                    <span class="badge badge-warning">Processing 🔄</span>
                {% elif subject.status == 'PROCESSED' %}
                    <a href="/subject/view?id={{ subject.id }}" class="btn btn-primary btn-sm">View</a>
                {% endif %}
            </td>
            <td>
                <button class="btn-danger btn=sm" onclick="deleteTest('{{ subject.tracking_id }}')">
                    <span>Delete</span>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/customScripts.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', ()=>{
        checkVideoFindStatus("{{ tracking_ids }}")
    });
</script>
{% endblock %}
