{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header text-center">
        <h4>Change your password</h4>
      </div>
      {% if message %}
      <div class="card-header text-center">
          <span style="color: red;"> {{message}} </span>
      {% endif %}
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}
          <div class="mb-3">
            <label for="org_password" class="form-label">Current Password</label>
            <input type="password" class="form-control" id="org_password" name="org_password" required>
          </div>
          <div class="mb-3">
            <label for="new_password1" class="form-label">New Password</label>
            <input type="password" class="form-control" id="new_password1" name="new_password1" required>
          </div>
          <div class="mb-3">
            <label for="new_password2" class="form-label">Re-enter New Password</label>
            <input type="password" class="form-control" id="new_password2" name="new_password2" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
